################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeChef/v16
/Compete.LTIME79/bin/Debug
/Compete.LTIME79/obj/Debug
/Practice.Beginner/bin/Debug
/Practice.Beginner/obj/Debug
/Practice.Beginner/Practice.Beginner.csproj.user
/*/bin/Debug
/*/obj/Debug
/*/*.csproj.user
~/root/code.lock
~/root/languagepacks.json
~/root/machineid
~/root/Network Persistent State
~/root/QuotaManager
~/root/QuotaManager-journal
~/root/storage.json
~/root/TransportSecurity
~/root/Backups/workspaces.json
~/root/Cache/*
~/root/Cache/c85687354a0e770a_0
~/root/Cache/cbc42e4c979f69f0_0
~/root/Cache/index
~/root/Cache/index-dir/the-real-index
~/root/CachedData/*
~/root/CachedExtensions/*
~/root/Code Cache/*
~/root/GPUCache/*
~/root/Local Storage/*
~/root/Service Worker/*
~/root/User/*
~/root/exthost Crash Reports/*
~/root/logs/*
~/root/Crash Reports/*
